body {
    background: url(../img/background.jpg) repeat-y;
    font-family: Tahoma, sans-serif;
    box-sizing: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.clearfix:after {
    display: block;
    clear: both;
    content: '';
}

.wrapper {
    width: 1000px;
    background-color: #fff;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 10px 5px rgba(46,46,46,1);
    -moz-box-shadow: 0 0 10px 5px rgba(46,46,46,1);
    box-shadow: 0 0 10px 5px rgba(46,46,46,1);
}

.header {
    padding: 10px 28px 0;
}

.logo {
    float: left;
    text-decoration: none;
    color: #37a2b6;
    text-align: center;
}

.contacts {
    width: 130px;
    float: right;
    margin: -5px 0 27px 0;
}
.contacts p:first-child {
    font-weight: bold;
}

.contacts p {
    font-size: 12px;
    color: #128aa7;
    line-height: 19px;
}

.flags {
    clear: right;
    float: right;
}

.flags a {
    color: #128aa7;
    font-size: 10px;
}

.india, .nepal, .tibet, .butan, .shri-lanka, .maldivi {
    width: 57px;
    margin: 0 auto;
    text-align: center;
    float: right;
}
/* END header */

.top-menu {
    width: 1000px;
    background-color: #333333;
    -webkit-box-shadow: 0 5px 4px 3px rgba(46,46,46,0.85);
    -moz-box-shadow: 0 5px 4px 3px rgba(46,46,46,0.85);
    box-shadow: 0 5px 4px 3px rgba(46,46,46,0.85);
}

.menu {
    padding: 0 55px;
}

.menu li {
    float: left;
}

.menu a {
    color: #fff;
    padding: 0 30px;
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-size: 14px;
}

.submenu li {
    display: none;
}
/* END top-menu */

.container {
    overflow: hidden;
}

.info-block {
    width: 165px;
    float: left;
    padding: 10px 24px 2000px 15px;
    margin-bottom: -2000px;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    text-align: center;
    color: #424c43;
    font-size: 13px;
    line-height: 20px;
}

.news-block {
    width: 165px;
    float: right;
    padding: 10px 24px 2000px 15px;
    margin-bottom: -2000px;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    text-align: center;
    color: #424c43;
    font-size: 13px;
    line-height: 20px;
}

.empty-block {
    padding-bottom: 2000px;
    margin-bottom: -2000px;
    float: left;
    background-color: #fff;
}

.info-block p:first-child,
.news-block p:first-child {
    font-size: 18px;
    font-weight: bold;
}
/*END container*/

.footer {
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 30px;
}